<div class="container bg-gray-100 text-center">
  @if(pokemonGet$ | async; as resultObject){
    <br>
    <div class="">
      @for (item of resultObject.results; track item) {
        <div class="pokecard ">
          <h1 class="text-4xl font-semibold text-white text-center">PokeCard</h1>
          <br>
          <div class="flex justify-center">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/132.png" alt="Imagen" class="rounded-full">
          </div>
          <br>
          <h2 class="text-3xl font-semibold text-white" >{{item.name}}</h2>
        </div>
        <br>
      }
    </div>
  }
  <!--
    <div class="bg-white rounded-lg shadow p-8 max-w-md">
      <h1 class="text-3xl font-semibold text-gray-800 mb-4 text-center">PokeCard</h1>
      <div class="flex justify-center mb-6">
          <img src="https://via.placeholder.com/300" alt="Imagen" class="rounded-full">
      </div>
      <div class="text-gray-600 text-center">
        <p>Bulbasaur</p>
        <p>Grass / Poison</p>
      </div>
      <div class="text-gray-800 text-center">
      </div>
    </div>
  -->
</div>