<div class="container bg-gray-100 text-center">
  @if(pokemonGet$ | async; as resultObject){
    <br>
    <div class="">
        @for (item of resultObject.results; track item.name; let count = $index, e = $even) {  
        <div class="pokecard ">
          <h1 class="text-4xl font-semibold text-white text-center">PokeCard</h1>
          <br>
          <div class="flex justify-center">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/{{ count+1 }}.png" alt="Imagen" class="rounded-full">
          </div>
          <br>
          <h2 class="text-3xl font-semibold text-white" >{{item.name}}</h2>
        </div>
        <br>
      }
    </div>
  }
</div>
